.Tabbar {
    height: fit-content;
    width: 100%;
}

.Tabbar .tab-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.tab-buttons button {
    height: 45px;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 0.7rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tab-buttons button.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.Tabbar .content {
    height: 70vh;
    overflow-y: auto;
    padding: 20px 40px;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    .Tabbar .content {
        padding: 20px 10px;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {
}
