/* --------------------------------------------------- */
/* HERO SECTION */
/* --------------------------------------------------- */

.Home .hero {
    background: linear-gradient(rgba(122, 122, 122, 0.3), rgb(255, 255, 255, 0.3)), url('../../../public/assets/images/home-bg.jpg');
}

.Home .hero.dark {
    background: linear-gradient(rgba(46, 67, 71, 0.7), rgb(12, 22, 24, 0.7)), url('../../../public/assets/images/home-bg.jpg');
}

.info {
    width: 40%;
}

.info h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 900;
}

.info h1 span {
    font-weight: 600;
}

.info p {
    font-weight: 500;
}

.info p span {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 700;
}

.Home .img-container {
    height: 70%;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------------------------------------------------- */
/* ABOUT SECTION */
/* --------------------------------------------------- */

.Home .about {
    height: fit-content;
}

.Home .about .about-me {
    height: fit-content;
    width: 100%;
    padding: 150px 60px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--light-box-shadow);
}

.Home .about .about-me.dark {
    box-shadow: var(--dark-box-shadow);
}

.about-me p {
    font-size: 0.8rem;
    text-align: center;
}

/* --------------------------------------------------- */
/* ABOUT SECTION */
/* --------------------------------------------------- */

.Home .projects {
    height: fit-content;
}

.Home .projects .all-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Home .projects a.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 40px 0;
}


/* --------------------------------------------------- */
/* CONTACT SECTION */
/* --------------------------------------------------- */

.Home .contact {
    height: fit-content;
}

.Home .contact .contact-me {
    height: fit-content;
    width: 100%;
    padding: 150px 150px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--light-box-shadow);
}

.Home .contact .contact-me.dark {
    box-shadow: var(--dark-box-shadow);
}

.contact-me p {
    font-size: 0.8rem;
    text-align: center;
}

.contact-me a.btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
