.ProjectCard {
    height: fit-content;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: var(--light-box-shadow);
    border-radius: 10px;
}

.ProjectCard.dark {
    box-shadow: var(--dark-box-shadow);
}

.ProjectCard:hover {
    translate: -10px;
    scale: 1.02;
}

.ProjectCard .project-img {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img img {
    height: 100%;
    width: 70%;
    object-fit: contain;
    border-radius: 20px;
}

.ProjectCard .details {
    padding: 20px;
    color: var(--primary-color);
}

.ProjectCard .details h1 {
    font-size: 0.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.ProjectCard .details p {
    font-size: 0.6rem;
}

.ProjectCard .details a.btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 20px 0;
}