.smallcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: var(--light-box-shadow);
    padding: 10px;
}

.smallcard:hover {
    translate: -10px;
    scale: 1.02;
}

.smallcard.dark {
    box-shadow: var(--dark-box-shadow);
}

.smallcard h2 {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.smallcard p {
    text-align: center;
    font-size: 0.6rem;
    font-weight: normal;
}

.smallcard-img {
    height: 100px;
    width: 100px;
}

.smallcard-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

a.cred {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
    margin: 10px;
}

a.cred:hover {
    box-shadow: none;
    rotate: 2deg;
}
