.tabcard {
    height: fit-content;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--light-box-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 30px;
    padding: 25px 40px;
}

.tabcard:hover {
    translate: -10px;
    scale: 1.02;
}

.tabcard.dark {
    box-shadow: var(--dark-box-shadow);
}

.tabcard .img {
    height: 40%;
    width: 200px;
}

.tabcard .img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tabcard .tabcard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.tabcard .tabcard-content h2 {
    font-size: 1rem;
    font-weight: 900;
    color: var(--light-text-color);
    margin-bottom: 5px;
}

.tabcard .tabcard-content p {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 2px;
}