.Navbar {
    height: 100%;
    width: 20%;
    position: relative;
}

nav {
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    box-shadow: var(--light-box-shadow);
    overflow-y: auto;
    animation: slideIn 1s linear;
    overflow-y: auto;
}

nav.dark {
    box-shadow: var(--dark-box-shadow);
}

nav .img-container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--dark-text-color);
    background-color: var(--secondary-color);
    animation: fadeIn 0.5s linear 1s;
    animation-fill-mode: backwards;
    margin: 10px auto;
}

nav .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav h2 {
    color: var(--dark-text-color);
    font-size: 0.8rem;
    text-align: center;
    font-weight: normal;
    animation: fadeIn 0.5s linear 1s;
    animation-fill-mode: backwards;
}

nav h2 span {
    font-weight: 700;
}

nav .socials {
    height: 80px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeIn 0.5s linear 1.2s;
    animation-fill-mode: backwards;
}

.icon {
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .links {
    height: fit-content;
    width: 100%;
    animation: fadeIn 0.5s linear 1.4s;
    animation-fill-mode: backwards;
}

.link {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 10px;
}

.link .icon {
    width: 40px;
    height: 40px;
}

.link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.7rem;
}

.link a:hover {
    font-weight: 700;
}

.link a.active {
    font-weight: 900;
}

.download-button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--light-box-shadow);
    cursor: pointer;
    animation: fadeIn 0.5s linear 1.6s;
    animation-fill-mode: backwards;
}

.download-button:hover {
    box-shadow: none;
}

.download-button .icon {
    height: 50px;
    width: 50px;
}

.download-button .icon img {
    height: 50%;
    width: 50%;
}

.download-button a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.7rem;
    font-weight: 600;
}

/* Dark and light mode toggle */
nav .mode {
    background-color: var(--light-background-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

nav .mode.dark {
    background-color: var(--dark-background-color);
}

.Navbar .nav-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.Navbar .menu {
    display: none;
}

.Navbar .cancel {
    display: none;
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    .Navbar {
        width: 0;
    }

    nav {
        display: none;
    }

    .Navbar .menu {
        display: block;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

