.Projects .hero {
    background: linear-gradient(rgba(122, 122, 122, 0.3), rgb(255, 255, 255, 0.3)), url('../../../public/assets/images/projects-bg.jpg');
    text-align: center;
}

.Projects .hero.dark {
    background: linear-gradient(rgba(46, 67, 71, 0.7), rgb(12, 22, 24, 0.7)), url('../../../public/assets/images/projects-bg.jpg');
}

.projects-container {
    height: fit-content;
    width: 100%;
    padding: var(--padding);
}

.projects-container .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}

.head form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.head form select {
    height: 50px;
    width: 25dvw;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 0.7rem;
}

.all-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.all-projects button {
    height: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    font-size: 0.7rem;
}

.all-projects button:hover {
    scale: 1.02;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* TAB */

@media screen and (max-width: 1024px) {
    .all-projects {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .head form select {
        width: 35dvw;
    }
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* MOBILE */

@media screen and (max-width: 540px) {
    .all-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-container .head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0;
        margin-bottom: 30px;
    }

    .head form select {
        width: 70dvw;
    }
}