.App {
  height: 100dvh;
  width: 100%;
  background: var(--light-background-color);
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.App.dark {
  background: var(--dark-background-color);
}

/* Navbar already taking 20% */

.App .screens {
  height: 100dvh;
  width: 80%;
  overflow-y: auto;
}
